body {
  background: url("../background-photo.jpg") no-repeat;
  background-size: cover;
}

h1 {
  font-family: sans-serif;
  color: #C3EFFF;
}

#borderModify {
  background: #9FFFD4;
  border-radius: 15px;
  padding: 20px; 
  width: 200px;
  height: 150px;
  margin: 0 auto; 
}

h1 {
    text-align: center;
}

.wrapper {
    text-align: center;
    font-family: sans-serif;
    color: #C3EFFF;
}