#borderModify {
  background: #73AD21;
  border-radius: 15px;
  padding: 20px; 
  width: 200px;
  height: 150px;
  margin: 0 auto; 
}

h1 {
    text-align: center;
}

.wrapper {
    text-align: center;
}